/* body {
    font-family: Arial, sans-serif;
} */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-bottom: 3px;
}
header h2{
    margin-left: 15px;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.navbar {
    display: none;
    flex-direction: column;
    background-color: #444;
    padding: 10px;
    margin-bottom: 5px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.navbar a i {
    margin-right: 10px;
}

.navbar a:hover {
    background-color: #555;
}
/* .content-header{
    display: flex;
    align-items: start;
} */

@media (max-width: 700px) {
    header {
        justify-content: start;
    }
  }