
html {font-family: Arial; display: inline-block; text-align: center;}
p {font-size: 1.2rem;}
h4 {font-size: 0.8rem;}
body {margin: 0;}
/* ----------------------------------- TOPNAV STYLE color anterior verde agua#0c6980 */
.topnav {overflow: hidden; background-color: #25488d; color: white; font-size: 1.2rem;}
/* ----------------------------------- */

/* ----------------------------------- TABLE STYLE */
.styled-table {
  border-collapse: collapse;
  margin-left: auto; 
  margin-right: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  overflow: hidden;
  width: 90%;
}

.styled-table thead tr {
  background-color: #25488d;
  color: #ffffff;
  text-align: left;
}

.styled-table th {
  padding: 12px 15px;
  text-align: left;
}

.styled-table td {
  padding: 12px 15px;
  text-align: left;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.bdr {
  border-right: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
}

td:hover {background-color: rgba(12, 105, 128, 0.21);}
tr:hover {background-color: rgba(12, 105, 128, 0.15);}
.styled-table tbody tr:nth-of-type(even):hover {background-color: rgba(12, 105, 128, 0.15);}
/* ----------------------------------- */

/* ----------------------------------- BUTTON STYLE */
.btn-group .button {
  background-color: #0c6980; /* Green */
  border: 1px solid #e3e3e3;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  float: center;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #094c5d;
}

.btn-group .button:active {
  background-color: #0c6980;
  transform: translateY(1px);
}

.btn-group .button:disabled,
.button.disabled{
  color:#fff;
  background-color: #a0a0a0; 
  cursor: not-allowed;
  pointer-events:none;
}

/* @media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  .styled-table th {
    padding: 0px 0px;
    text-align: center;
}
.styled-table td {
  padding: 0px 0px;
  text-align: center;
}
.hide-on-mobile {
  display: none;
}
tr td:nth-child(7), tr td:nth-child(3) {
  display: none;
  
}
}

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  .styled-table th {
    padding: 0px 0px;
    text-align: center;
}
.styled-table td {
  padding: 0px 0px;
  text-align: center;
}
.hide-on-mobile {
  display: none;
}
tr td:nth-child(7), tr td:nth-child(3) {
  display: none;
  
}
} */


/* @media (min-width: 767px) and (max-width: 2560px) {
  .styled-table th {
    padding: 0px 0px;
    text-align: center;
}
.styled-table td {
  padding: 0px 0px;
  text-align: center;
}
.hide-on-mobile {
  display: none;
}
tr td:nth-child(7), tr td:nth-child(3) {
  display: none;
  
} */
@media (max-width: 430px) {
  .styled-table th {
    padding: 0px 0px;
    text-align: center;
}
.styled-table td {
  padding: 0px 0px;
  text-align: center;
}
.hide-on-mobile {
  display: none;
}
tr td:nth-child(7) {
  display: none;
}
tr td:nth-child(3) {
  display: none;
}
}
/* Media Query para hacerlo responsivo */
@media (max-width: 700px) {
  .styled-table th {
    padding: 0px 0px;
    text-align: center;
}
.styled-table td {
  padding: 0px 0px;
  text-align: center;
}
.hide-on-mobile {
  display: none;
}
tr td:nth-child(7) {
  display: none;
  
}
tr td:nth-child(3) {
  display: none;
  
}}